
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>

        <h1>Dashbord</h1>
        <h2>AdSoyad: @User.Identity.Name</h2>
        
        <h3>Kullanıcı Adı: @Session["userName"].ToString()</h3>
        <a href="@Url.Action("LogOff","Account")">Çıkış</a>

    </div>
</body>
</html>
