<header id="header">
    <div id="logo-group">

        <!-- PLACE YOUR LOGO HERE -->
        <span id="logo"><a href="@Url.Action("index", "Home")"> <img src="/Content/img/home.png" alt="Home" style="width:5%;"></a> </span>
        <!-- END LOGO PLACEHOLDER -->

    </div>

    <section id="top-right">
     
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        
    </section>
    <div id="ribbon-kullanici">
        <div class="login-info-kullanici">
            <span>
               
                <span>@User.Identity.Name</span>
            </span>
        </div>
    </div>
</header>