@using System.Security.Claims
@{
    var identity = (ClaimsIdentity)User.Identity;
    IEnumerable<Claim> claims = identity.Claims;
}


<!-- logout button -->
@if (User.Identity.IsAuthenticated)
{
    <div id="logout" class="btn-header pull-right">
        <span>
            <a href="@Url.Action("LogOff", "Account")" title="Çıkış Yap" >Çıkış Yap</a>

        </span>
    </div>
}
<!-- end logout button -->
